<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="UTF-8">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">werner-resume.pdf</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:werne401@umn.edu">email</a></li>
	        		<li><a href="https://github.com/werne401">github.com/werne401</a></li>
				</ul>
			</footer>
		</body>
	</html>
